<div class="outer_div">
  <div class="table_div">
    <table>
      <tr><td>
        <div class="errors_header">
          <%= t('error') %> 422
        </div>
      </td></tr>
      <tr><td>
        <div class="errors_main">
          <%= t('error_422_message') %>
        </div>
        <br>
        <div class="home">
          <%= link_to t('return_home'), users_path %>
        </div>
      </td></tr>
    </table>
  </div>
</div>